<section class="cases">
  <div class="cases-container container">
    <div class="cases-box">
      <div class="cases-heading">
        <div class="cases-heading__flex">
          <div class="cases-heading__icon">
            <img src="../img/cases/headingLeftFrame.webp" alt="">
          </div>
          <span class="cases-title">Популярные кейсы</span>
          <div class="cases-heading__icon">
            <img src="../img/cases/headingRightFrame.webp" alt="">
          </div>
        </div>
        <span class="cases-heading__subheading">
          Выбор большинства пользователей
        </span>
      </div>
      <div class="cases-inner">
        <ul class="cases-grid">
          <li class="cases-item cases-item--blue">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereBlue.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--orange">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereOrange.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--green">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereGreen.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--blue">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereBlue.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--orange">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereOrange.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--green">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereGreen.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cases-box cases-box--bg">
      <div class="cases-heading">
        <div class="cases-heading__flex">
          <div class="cases-heading__icon">
            <img src="../img/cases/headingLeftFrame.webp" alt="">
          </div>
          <span class="cases-title">прибыльные кейсы</span>
          <div class="cases-heading__icon">
            <img src="../img/cases/headingRightFrame.webp" alt="">
          </div>
        </div>
        <span class="cases-heading__subheading">
          Кейсы с наивысшей прибылью
        </span>
      </div>
      <div class="cases-inner">
        <ul class="cases-grid">
          <li class="cases-item cases-item--blue">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereBlue.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--orange">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereOrange.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--green">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereGreen.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--blue">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereBlue.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--orange">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereOrange.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--green">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/sphereGreen.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
          <li class="cases-item cases-item--purple">
            <div class="cases-item__content">
              <div class="cases-sphere">
                <img src="../img/cases/spherePurple.webp" alt="sphereImage">
              </div>
              <div class="cases-info">
                <span class="cases-info__name">X Coin</span>
                <span class="cases-info__type">case</span>
              </div>
              <a class="cases-open button" href="#">
                <span class="cases-open__text button-text">$ 598</span>
                <span class="cases-open__hidden">open</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
