<section class="slider">
  <div class="slider-pagination">

  </div>
  <div class="slider-container container container--wide">
    <div class="slider-main swiper">
      <ul class="slider-wrapper swiper-wrapper">
        <li
          class="slider-item swiper-slide"
        >
        <div class="slider-background">
          <img src="../img/slider/sliderItemBackground.webp" alt="">
        </div>
        <div class="slider-decor">
          <img src="../img/slider/sliderItemOverlay.webp" alt="">
        </div>
        <div class="slider-item__image">
          <img src="../img/slider/sliderCharacterImage.webp" alt="character-image">
        </div>
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                Открывай кейсы и зарабатывай<span class="slider-title__hl"> XCOIN</span>
              </span>
              <p class="slider-description">
                Получай призы за продвижение в рейтинге игроков
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>4</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>5</span>
                </div>
                <div class="timer-number">
                  <span>8</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>0</span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <a href="#" class="slider-button button">
                <span class="button-text">октрыть кейс</span>
              </a>
            </div>
          </div>
        </li>
        <li
          class="slider-item swiper-slide"
        >
        <div class="slider-background">
          <img src="../img/slider/sliderItemBackground.webp" alt="">
        </div>
        <div class="slider-decor">
          <img src="../img/slider/sliderItemOverlay.webp" alt="">
        </div>
        <div class="slider-item__image">
          <img src="../img/slider/sliderCharacterImage.webp" alt="character-image">
        </div>
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                Открывай кейсы и зарабатывай<span class="slider-title__hl"> XCOIN</span>
              </span>
              <p class="slider-description">
                Получай призы за продвижение в рейтинге игроков
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>4</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>5</span>
                </div>
                <div class="timer-number">
                  <span>8</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>0</span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <a href="#" class="slider-button button">
                <span class="button-text">октрыть кейс</span>
              </a>
            </div>
          </div>
        </li>
        <li
          class="slider-item swiper-slide"
        >
        <div class="slider-background">
          <img src="../img/slider/sliderItemBackground.webp" alt="">
        </div>
        <div class="slider-decor">
          <img src="../img/slider/sliderItemOverlay.webp" alt="">
        </div>
        <div class="slider-item__image">
          <img src="../img/slider/sliderCharacterImage.webp" alt="character-image">
        </div>
          <div class="slider-inner container">
            <div class="slider-header">
              <span class="slider-title">
                Открывай кейсы и зарабатывай<span class="slider-title__hl"> XCOIN</span>
              </span>
              <p class="slider-description">
                Получай призы за продвижение в рейтинге игроков
              </p>
            </div>
            <div class="slider-timer timer">
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>4</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>5</span>
                </div>
                <div class="timer-number">
                  <span>8</span>
                </div>
              </div>
              <span class="timer-divider">:</span>
              <div class="timer-item">
                <div class="timer-number">
                  <span>0</span>
                </div>
                <div class="timer-number">
                  <span>0</span>
                </div>
              </div>
            </div>
            <div class="slider-actions">
              <a href="#" class="slider-button button">
                <span class="button-text">октрыть кейс</span>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
