<section class="stats">
  <div class="stats-container container">
    <ul class="stats-grid">
      <li class="stats-item">
        <div class="stats-icon">
          <img src="../img/stats/statsCaseImage.webp" alt="icon">
        </div>
        <div class="stats-info">
          <span class="stats-value">
            28.790
          </span>
          <span class="stats-description">
            Всего кейсов открыто
          </span>
        </div>
      </li>
      <li class="stats-item">
        <div class="stats-icon">
          <img src="../img/stats/statsFrequencyImage.webp" alt="icon">
        </div>
        <div class="stats-info">
          <span class="stats-value">
            4.790
          </span>
          <span class="stats-description">
            Пользователей онлайн
          </span>
        </div>
      </li>
      <li class="stats-item">
        <div class="stats-icon">
          <img src="../img/stats/statsIncomeImage.webp" alt="icon">
        </div>
        <div class="stats-info">
          <span class="stats-value">
            $ 70.590
          </span>
          <span class="stats-description">
            Доход пользователей
          </span>
        </div>
      </li>
      <li class="stats-item">
        <div class="stats-icon">
          <img src="../img/stats/statsContractsImage.webp" alt="icon">
        </div>
        <div class="stats-info">
          <span class="stats-value">
            24.380
          </span>
          <span class="stats-description">
            Контрактов создано
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>
