<section class="tape">
  <div class="tape-container container container--wide">
    <div class="tape-flex">
      <div class="tape-panel"></div>
      <ul class="tape-row">
        <a href="#" class="tape-item tape-item--blue">
          <div class="tape-icon">
            <img src="../img/tape/tapeRippleIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Ripple</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--yellow">
          <div class="tape-icon">
            <img src="../img/tape/tapeDegolaIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Degola</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--green">
          <div class="tape-icon">
            <img src="../img/tape/tapeLeafIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Violla Coin</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--blue">
          <div class="tape-icon">
            <img src="../img/tape/tapeRippleIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Ripple</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--yellow">
          <div class="tape-icon">
            <img src="../img/tape/tapeDegolaIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Degola</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--green">
          <div class="tape-icon">
            <img src="../img/tape/tapeLeafIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Violla Coin</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--blue">
          <div class="tape-icon">
            <img src="../img/tape/tapeRippleIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Ripple</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--yellow">
          <div class="tape-icon">
            <img src="../img/tape/tapeDegolaIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Degola</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--green">
          <div class="tape-icon">
            <img src="../img/tape/tapeLeafIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Violla Coin</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--blue">
          <div class="tape-icon">
            <img src="../img/tape/tapeRippleIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Ripple</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--yellow">
          <div class="tape-icon">
            <img src="../img/tape/tapeDegolaIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Degola</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
        <a href="#" class="tape-item tape-item--green">
          <div class="tape-icon">
            <img src="../img/tape/tapeLeafIcon.webp" alt="icon">
          </div>
          <div class="tape-info">
            <span class="tape-name">Violla Coin</span>
            <span class="tape-price">0.00087</span>
          </div>
        </a>
      </ul>
    </div>
  </div>
</section>
