<div class="modal" id="win-modal">
  <div class="modal-container">
    <div class="modal-body">
      <div class="modal-aside">
        <button class="modal-close">
          <img src="../img/sprite/modalCloseIcon.svg" alt="close">
        </button>
        <div class="modal-aside__icon">
          <img src="../img/tape/tapeRippleIcon.webp" alt="icon">
        </div>
        <div class="modal-aside__token">
          <span class="modal-aside__name">
            Ripple
          </span>
          <span class="modal-aside__price">
            250.000
          </span>
          <span class="modal-aside__approx">
            ~ $240.000
          </span>
        </div>
        <div class="modal-aside__actions">
          <button class="modal-remove button">
            <span>убрать в инвентарь</span>
          </button>
          <button class="modal-sell">
            ПРОДАТЬ ЗА $238.000
          </button>
        </div>
      </div>
      <div class="modal-info">
        <div class="modal-header">
          <span class="modal-label">
            Кратко о проекте
          </span>
          <div class="modal-description">
            <div class="modal-token">
              <div class="modal-token__icon">
                <img src="../img/tape/tapeDegolaIcon.webp" alt="icon">
              </div>
              <div class="modal-token__name">
                $Doomer
              </div>
            </div>
            <span class="modal-hl">
              Это инновационный токен на блокчейне TON.
            </span>
            <p class="modal-text">
              Миссия проекта - создать масштабную экосистему развлечений,
              интегрированную в WEB-3. У проекта уже есть своя игра и сайт
              с кейсами.
            </p>
            <a href="#" target="_blank" class="modal-link">
              <svg>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
              <span>t.me/doomer_ton</span>
            </a>
          </div>
        </div>
        <div class="modal-notif">
          <span class="modal-notif__title">
            Важно!
          </span>
          <div class="modal-notif__description">
            <p>
              Прежде чем продавать токен - ознакомьтесь
              с ресурсами и идеями проекта. Возможно, будет правильнее
              держать токен и заработать на курсе!
            </p>
            <p class="modal-notif__description--underline">
              Не продавайте токены на бирже сразу на большую
              сумму - это может негативно повлиять на курс токена.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
