<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-grid">
        <ul class="footer-nav">
          <a href="#" class="footer-nav__link">Кейсы</a>
          <a href="#" class="footer-nav__link">Контракт</a>
          <a href="#" class="footer-nav__link footer-nav__link--current">Кейс баттл</a>
          <a href="#" class="footer-nav__link">Топ пользователей</a>
          <a href="#" class="footer-nav__link">Лайв</a>
          <a href="#" class="footer-nav__link">FAQ</a>
          <a href="#" class="footer-nav__link">Реферальная система</a>
        </ul>
        <a href="/" class="footer-logo">
          <img src="../img/global/logoIcon.webp" alt="logo">
        </a>
        <div class="footer-rights">
          <span class="footer-rights__hl">© 2024 CryptoCase</span> — Открывай и зарабатывай <br>
          На нашем сайте вы можете открыть различные криптовалютные кейсы с высокой окупаемостью.
        </div>
        <ul class="footer-socials">
          <a href="#" target="_blank" class="footer-socials__link">
            <svg>
              <use href='img/sprite/sprite.svg#twitter-icon'></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="footer-socials__link">
            <svg>
              <use href='img/sprite/sprite.svg#discord'></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="footer-socials__link">
            <svg>
              <use href='img/sprite/sprite.svg#tg-icon'></use>
            </svg>
          </a>
          <a href="#" target="_blank" class="footer-socials__link">
            <svg>
              <use href='img/sprite/sprite.svg#twitter-icon'></use>
            </svg>
          </a>
        </ul>
      </div>
    </div>
  </div>
</footer>
