<header class="header">
  <div class="header-container container--wide">
    <div class="header-body">
      <div class="header-col">
        <a href="#" class="header-logo">
          <img src="../img/global/logoIcon.webp" alt="logo">
        </a>
        <ul class="navbar">
          <li class="navbar-item">
            <a href="" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#chest-icon'></use>
              </svg>
              <span>Кейсы</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#feather-icon'></use>
              </svg>
              <span>Контракт</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#fight-icon'></use>
              </svg>
              <span>Контракт</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
