<header class="header">
  <div class="header-container container container--wide">
    <div class="header-body">
      <div class="header-col">
        <a href="/" class="header-logo">
          <img class="header-logo_desktop" src="../img/global/logoIcon.webp" alt="logo">
          <img class="header-logo_mobile" alt="logo" src="../img/global/logo-small.webp" />
        </a>
        <ul class="navbar navbar--desktop">
          <li class="navbar-item">
            <a href="open.html" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#chest-icon'></use>
              </svg>
              <span>Кейсы</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#feather-icon'></use>
              </svg>
              <span>Контракт</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="battle.html" class="navbar-link navbar-link--selected">
              <svg>
                <use href='img/sprite/sprite.svg#sword-icon'></use>
              </svg>
              <span>Кейс баттл</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="leaderboard.html" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#cup-icon'></use>
              </svg>
              <span>Топ пользователей</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="faq.html" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#live-icon'></use>
              </svg>
              <span>Лайв</span>
            </a>
          </li>
          <li class="navbar-item">
            <a href="contract.html" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#faq-icon'></use>
              </svg>
              <span>FAQ</span>
            </a>
          </li>
          <li class="navbar-item navbar-item--hidden">
            <a href="referral.html" class="navbar-link">
              <svg>
                <use href='img/sprite/sprite.svg#referral-icon'></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="referral.html" class="header-link">
          <span>
            Реферельная система
          </span>
        </a>
      </div>
      <div class="header-col">
        <div class="header-actions">
          <button class="header-notif">
            <div class="header-notif__state header-notif__state--red"></div>
            <svg>
              <use href='img/sprite/sprite.svg#bell-icon'></use>
            </svg>
          </button>
          <button class="header-add">
            <svg>
              <use href='img/sprite/sprite.svg#plus-icon'></use>
            </svg>
          </button>
        </div>
        <div class="header-user">
          <div class="header-user__info">
            <span class="header-user__name">
              James Corvet
            </span>
            <div class="header-user__footer">
              <span class="header-user__currency">
                $
              </span>
              <span class="header-user__balance">
                4 690.00
              </span>
            </div>
          </div>
          <a href="profile.html" class="header-user__icon">
            <img src="../img/global/userImage.webp" alt="icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<ul class="navbar navbar--adaptive">
  <li class="navbar-item">
    <a href="open.html" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#chest-icon'></use>
      </svg>
      <span>Кейсы</span>
    </a>
  </li>
  <li class="navbar-item">
    <a href="#" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#feather-icon'></use>
      </svg>
      <span>Контракт</span>
    </a>
  </li>
  <li class="navbar-item">
    <a href="battle.html" class="navbar-link navbar-link--selected">
      <svg>
        <use href='img/sprite/sprite.svg#sword-icon'></use>
      </svg>
      <span>Кейс баттл</span>
    </a>
  </li>
  <li class="navbar-item navbar-item_center">
    <a href="referral.html" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#referral-icon'></use>
      </svg>
    </a>
  </li>
  <li class="navbar-item">
    <a href="leaderboard.html" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#cup-icon'></use>
      </svg>
      <span>Топ пользователей</span>
    </a>
  </li>
  <li class="navbar-item">
    <a href="faq.html" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#live-icon'></use>
      </svg>
      <span>Лайв</span>
    </a>
  </li>
  <li class="navbar-item">
    <a href="contract.html" class="navbar-link">
      <svg>
        <use href='img/sprite/sprite.svg#faq-icon'></use>
      </svg>
      <span>FAQ</span>
    </a>
  </li>
</ul>
